<!-- eg for string interpolation [one way binding - ts file to html] -->
<!-- <h5 class="text-light">{{a}}{{b}}</h5> -->
<div class="login-page">
    <h4 class="text-center text-light" >LOGIN</h4><br>
    <div class="form">
        
     
      <form (ngSubmit)="login()" class="login-form">
        <input [(ngModel)]="mob" name="mob" type="text" placeholder="Mobile Number" required/>
        <!-- property binding -->
        <!-- <input type="text" [placeholder]="a" required/> -->
        <input [(ngModel)]="pswd" name="pswd" type="password" placeholder="Password" required/>
        <button type="submit" >login</button>
        <p class="message">Not registered? <a routerLink="register">Create an account</a></p>
      </form>
    </div>
  </div>